<div class="d-flex flex-column p-2 justify-content-center"  >
<h1 class="text-center mt-5 fw-bold">Welcome to My-Journal </h1>
 <p> Your All-in-One Journal and Todo List App! Unleash the power of organization and self-reflection with MyJournal. This intuitive app seamlessly integrates your journal and todo lists, simplifying your life and boosting productivity.</p>
 
<%= link_to 'get Started!', categories_path, class: "btn btn-primary mx-auto p-2" %>
 </div>