<h1 class="text-center mt-5">Welcome to My-Journal </h1>
 <p> Your All-in-One Journal and Todo List App! Unleash the power of organization and self-reflection with MyJournal. This intuitive app seamlessly integrates your journal and todo lists, simplifying your life and boosting productivity.</p>
 
<%= link_to 'About', about_path %>